body {
  font-family: "Poppins", sans-serif;
}

header {
  display: block;
  text-align: center;
  margin: 20px;
}

.container {
  width: auto;
}

.blueline {
  display: block;
  color: #42a5f5;
  height: 2px !important;
}

.boxweather {
  border: 1px solid;
  padding: 20px;
  border-radius: 3%;
}

.grados {
  margin: 0;
  padding: 0;
}

.principal {
  display: block;
  width: 16% !important;
  margin-right: 0;
}

.second {
  display: block;
  width: 40% !important;
  margin-right: 0;
}

h1 {
  text-align: right;
  font-size: 42px;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 40px;
}

h5,
p {
  margin: 0 auto;
}

h4 {
  text-align: right;
  font-size: 18px;
}

h6 {
  margin: 0;
}

footer {
  text-align: right;
  margin: 25px 100px 25px 25px;
}

a {
  text-decoration-line: none;
}
